.header {
  height: 4rem;
  padding: .8rem 2.5rem;
  background-color: var(--black);
  align-items: center;
}

.btn {
  height: 2.4rem;
  padding: 0 1rem;
  margin-left: auto;
  border-radius: 100vw;
  display: block;
}