.page {
  height: 100%;
  overflow: hidden;
  grid-template-rows: auto 1fr auto;
  gap: 1rem;
  display: grid;
}

.header {
  padding: 0.5rem 4rem;
  background-color: color-mix(in srgb, var(--black) 10%, var(--white) 90%);
}

.headerTitle {
  color: var(--black);
  font-size: 1.5rem;
  font-weight: 300;
}

.chat,
.footer {
  width: 80%;
  margin: 0 auto;
}

.chat {
  height: 100%;
  overflow-y: scroll;
  gap: 1.5rem;
  flex-direction: column;
  display: flex;
}

.chat::-webkit-scrollbar {
  display: none;
}

.msg {
  white-space: pre-line;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}

.msg.user {
  max-width: 80%;
  width: fit-content;
  margin-left: auto;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: color-mix(in srgb, var(--gray) 20%, var(--white) 80%);
}

.footer {
  padding: 1rem;
  padding-top: 0;
}

.form {
  width: 90%;
  padding: 0.5rem 1.5rem;
  border: 0.05rem solid var(--gray);
  border-radius: 2rem;
  align-items: center;
  gap: 1rem;
  display: flex;
}

.input {
  width: 100%;
  color: var(--black);
  font-size: 1.1rem;
  resize: none;
  overflow-y: scroll;
}

.input::-webkit-scrollbar {
  display: none;
}

.send {
  height: 2rem;
  border: none;
}

.send img {
  height: 100%;
  width: auto;
}

.send:hover {
  animation: sendBtn 1.5s ease forwards; /* замінив inline на ease */
}

.slider {
  margin: 1rem 0;
}

.slider > div {
  width: fit-content;
  justify-items: left;
  display: flex;
}

.card {
  width: fit-content;
  background-color: color-mix(in srgb, var(--black) 10%, var(--white) 90%);
  border-radius: 12px;
  padding: 8px;
}

.cardImg {
  width: auto;
  height: 250px;
  object-fit: cover;
  border-radius: 8px;
}

.cardBtnGo {
  padding: 0.2rem 0.5rem;
  color: var(--white);
  font-weight: 600;
  border-radius: 100vw;
  background-color: var(--blue2);
}

.cardBtnStar {
  position: relative;
  z-index: 1;
  border: none;
  font-size: 2.5rem;
  line-height: 0;
  color: var(--yellow2);
}

.cardBtnStar::before {
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "★";
  font-size: 1.2em;
  line-height: 0;
  color: var(--yellow);
  display: block;
}

@keyframes sendBtn {
  0% {
    transform: translate(0%, 0%);
  }
  25% {
    transform: translate(-15%, 15%);
  }
  50% {
    transform: translate(10%, -10%);
  }
  100% {
    transform: translate(0%, 0%);
  }
}
