.page {
  height: 100%;
  overflow: hidden;
  grid-template-rows: auto 1fr auto;
  gap: 1rem;
  display: grid;
}

.header {
  padding: 0.5rem 4rem;
  background-color: color-mix(in srgb, var(--black) 10%, var(--white) 90%);
}

.headerTitle {
  color: var(--black);
  font-size: 1.5rem;
  font-weight: 300;
}

.chat,
.footer {
  width: 80%;
  margin: 0 auto;
}

.chat {
  height: 100%;
  overflow-y: scroll;
  gap: 1.5rem;
  display: grid;
}

.chat::-webkit-scrollbar {
  display: none;
}

.msg {
  white-space: pre-line;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}

.msg.user {
  max-width: 80%;
  width: fit-content;
  margin-left: auto;
  padding: 1rem;
  border-radius: .5rem;
  background-color: color-mix(in srgb, var(--gray) 20%, var(--white) 80%) ;
}

.footer {
  padding: 1rem;
  padding-top: 0;
}

.form {
  width: 90%;
  padding: 0.5rem 1.5rem;
  border: 0.05rem solid var(--gray);
  border-radius: 2rem;
  align-items: center;
  gap: 1rem;
  display: flex;
}

.input {
  width: 100%;
  color: var(--black);
  font-size: 1.1rem;
  resize: none;
  overflow-y: scroll;
}

.input::-webkit-scrollbar {
  display: none;
}

.send {
  height: 2rem;
  border: none;
}

.send img {
  height: 100%;
  width: auto;
}

.send:hover {
  animation: sendBtn 1.5s ease forwards; /* замінив inline на ease */
}

@keyframes sendBtn {
  0% {
    transform: translate(0%, 0%);
  }
  25% {
    transform: translate(-15%, 15%);
  }
  50% {
    transform: translate(10%, -10%);
  }
  100% {
    transform: translate(0%, 0%);
  }
}
