* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: var(--font-montserrat);
  background-color: var(--white);
  color: var(--black);
}

@media (max-width: 500px) {
  html {
    font-size: 4.5vw;
  }
}

body {
  width: 100dvw;
  height: 100dvh;
  overflow: hidden;
  grid-template-columns: auto 1fr;
  display: grid;
}

button, input, textarea {
  border: none;
  outline: none;
  background: none;
  color: var(--white);
}

button {
  border: .08rem solid var(--white);
  font-family: var(--font-montserrat);
  font-size: 1rem;
  cursor: pointer;
  transition: all .3s;
}

button:hover {
  filter: brightness(1.1);
}

a {
  font-family: var(--font-montserrat);
  color: var(--white);
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  line-height: 0;
}

.wrapper {
  height: 100dvh;
  grid-template-rows: auto 1fr;
  display: grid;
}

/* Весь скролбар */
::-webkit-scrollbar {
  width: .4rem
}

/* Трек (фон) */
::-webkit-scrollbar-track {
  background: transparent
}

/* Повзунок */
::-webkit-scrollbar-thumb {
  background: var(--gray);
  border-radius: 100vw;
}

/* Повзунок при наведенні */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Куток */
::-webkit-scrollbar-corner {
  background: transparent;
}