* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: sans-serif;
  background-color: var(--black2);
  color: var(--white);
}

@media (max-width: 500px) {
  html {
    font-size: 4.5vw;
  }
}

body {
  min-height: 100dvh;
  grid-template-rows: auto 1fr auto;
  display: grid;
}

button, input, textarea {
  border: none;
  outline: none;
  background: none;
  color: var(--white);
}

button {
  border: .08rem solid var(--white);
  font-size: 1rem;
  cursor: pointer;
  transition: all .3s;
}

button:hover {
  color: var(--black2);
  border: .08rem solid var(--white);
  background-color: var(--white);
}

a {
  color: var(--white);
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  line-height: 0;
}