.page {
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
}

.top {
  justify-items: center;
  display: grid;
}

.avatar {
  position: relative;
  width: 150px;
  max-width: 50vw;
  height: auto;
  margin-bottom: 0.5rem;
  aspect-ratio: 1 / 1;
  border-radius: 100vw;
  display: block;
}

.btns {
  margin-top: 2rem;
  gap: 1.5rem;
  display: flex;
}

.btn {
  padding: 0.5rem 2.5rem;
  border-radius: 100vw;
  text-transform: uppercase;
  font-weight: 600;
}

@media (max-width: 500px) {
  .btns {
    display: grid;
  }
  .btn {
    width: 100%;
  }
}
