.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
  aspect-ratio: 1 / 1;
  align-content: center;
}

.loading::after {
  content: "|";
  position: absolute;
  top: 50%;
  left: -10%;
  transform: rotate(0deg) translateY(-50%);
  width: 120%;
  font-size: 2rem;
  animation: orbit 1.4s linear infinite;
  display: block;
}

@keyframes orbit {
  to {
    transform: rotate(360deg) translateY(-50%);
  }
}