.page {
  max-width: 100dvw;
  max-height: 91dvh;
  overflow: scroll;
}

.main {
  width: 90%;
  margin: 0 auto;
}

.top {
  justify-items: center;
  gap: 1rem;
  display: grid;
}

.form {
  width: 90%;
  padding: .5rem 1rem;
  max-width: 480px;
  border: .1rem solid var(--white);
  border-radius: 100vw;

}

.search {
  width: 100%;
  font-size: 1.2rem;
}

.table thead {
  position: sticky;
  top: 0;
  z-index: 1;
  color: var(--white);
  text-align: left;
}

.table thead th {
  padding: 0.5rem;
  background-color: var(--blue3);
}

.table tbody td {
  padding: 12px;
  border-bottom: 1px solid var(--black2);
}

.table tbody tr:hover td {
  background-color: color-mix(in srgb, var(--blue3) 40%, var(--white) 60%) ;
  transition: all .3s;
}

.fixRow {
  position: sticky;
  left: 0;
  background-color: var(--white);
}